<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edge Utility</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1 class="text-5xl font-bold text-blue-800 dark:text-white mb-5 text-center">Edge Specialist Management</h1>

<div class="md:flex">
    <div id="tabSpecialist"
         class="p-6  rounded-lg w-full">
        {{ template "specialist-management-form.html" . }}
    </div>

</div>
<script src="/js/script.js"></script>
</body>
</html>
